{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'classes/home.css' %}">
{% endblock %}

{% block content %}
<div class="page-layout">
  {% if request.user.is_teacher %}
    <div class="main-content">
        <h2>Welcome, {{ request.user.first_name }}</h2>
      </div>
  {% else %}
    <div class="main-content">
      <h2>Welcome, {{ request.user.first_name }}</h2>
      <p>You can check your grades, personal info, and more from your profile.</p>
    </div>
  {% endif %}
</div>


{% endblock %}