{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'classes/home.css' %}">
{% endblock %}

{% block content %}
<div class="page-layout">
  {% if request.user.is_teacher %}
    <div class="main-content">
        <h2>Welcome, {{ request.user.first_name }}</h2>
      </div>
  {% else %}
    <div class="main-content">
      <h2>Welcome, {{ user.first_name }}!</h2>
      <p>Track your academic progress in real time.</p>
      <ul>
        <li>View your grades for each class.</li>
        <li>Check your average in any subject.</li>
        <li>See your overall grade across all classes.</li>
        <li>Find out your ranking in each class.</li>
        <li>Compare your performance with the rest of the school.</li>
      </ul>
    </div>
  {% endif %}
</div>


{% endblock %}