{% extends "base.html" %} {% load static %} {% block title %}Profile{%endblock%}
{% block css_files %}
<link rel="stylesheet" href="{% static 'classes/profile.css' %}" />
{% endblock %} {% block content %}
<div class="profile-container">
  <div class="sidebar">
    <h2>{{ request.user.first_name }} {{ request.user.last_name }}</h2>
  </div>

  <div class="main-content">
    <h1>Your Subjects</h1>

    {% if request.user.studentprofile.students.all %}
    <ul>
      {% for class in request.user.studentprofile.students.all %}
      <li>{{ class.subject }} - {{ class.school.name }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <p>You are not enrolled in any classes yet.</p>
    {% endif %}
  </div>
</div>

<script>
  function goToHome() {
    window.location.href = "http://127.0.0.1:8000/";
  }
</script>

<script>
  function goToAboutUs() {
    window.location.href = "http://127.0.0.1:8000/aboutus/";
  }
</script>
{% endblock %}
