body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f8ff; 
    color: #333;
}
  .page-layout {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .main-content {
    align-self: center;
    width: 50rem;
    flex-grow: 1;
    padding: 1rem;
  }

  ul{
    display:flex;
    font-weight: 500;
    font-size: large;
    justify-content: center;
    padding:1rem;
    margin-left:1rem
  }
