body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f8ff; 
    color: #333;
}
  .page-layout {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .main-content {
    width: 50rem;
    flex-grow: 1;
    padding: 1rem;
  }
