{% extends "base.html" %}
{% load static %}

{% block title %}About us{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'about_us/about_us.css' %}">
{% endblock %}


{% block content %}
    <div class="flexbox">
      <div class="profile">
        <div class="label">Константин 8В</div>
        <img src="{% static 'about_us/kosyo.jpg' %}" alt="Kosyo" />
    </div>

      <div class="profile">
        <div class="label">Венцислав 8В</div>
        <img src="{% static 'about_us/venci.jpg' %}" alt="Venci" />
      </div>

      <div class="profile">
            <div class="label">Кирил 8В</div>
            <img src="{% static 'about_us/kiro.jpg' %}" alt="Kiro" />
          </div>
      </div>

      <script>
        function goToHome() {
            window.location.href = "http://127.0.0.1:8000/";
        }
      </script>
    
    {% endblock %}
 
