{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hover Profile</title>
    <link rel="stylesheet" href="{% static 'about_us/about_us.css' %}" />
  </head>
  <body>
    <div class="flexbox">
      <div class="profile">
        <div class="label">Константин 8В</div>
        <img src="{% static 'about_us/kosyo.jpg' %}" alt="Kosyo" />
      </div>

      <div class="profile">
        <div class="label">Венцислав 8В</div>
        <img src="{% static 'about_us/venci.jpg' %}" alt="Venci" />
      </div>

      <div class="profile">
        <div class="label">Кирил 8В</div>
        <img src="{% static 'about_us/kiro.jpg  ' %}" alt="Kiro" />
      </div>
    </div>
  </body>
</html>
