{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block css_files %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-container">
        <div class="nav-logo" onclick="goToHome()" style="cursor: pointer">
          GrAdesPro
        </div>
        <div class="nav-links">
            <a href="#" class="nav-link" onclick="goToHome()">Home</a>
            <a href="#" class="nav-link" onclick="goToAboutUs()">About Us</a>
            {% if request.user.is_teacher %}
            <a href="#" class="nav-link" onclick="goToCreateClass()">Create a class</a>
            {% else %}
            <a href="#" class="nav-link" onclick="goToProfile()">Profile</a>
            {% endif %}
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="nav-link-button">Log Out</button>
            </form>
        </div>
      </div>
    </nav>
    {% block content %} {% endblock %}
    <script>
    function goToProfile() {
      window.location.href = "http://127.0.0.1:8000/profile";
    }
    function goToHome() {
      window.location.href = "http://127.0.0.1:8000/";
    }
    function goToAboutUs() {
      window.location.href = "http://127.0.0.1:8000/aboutus/";
    }
    function goToCreateClass(){
      window.location.href= "http://127.0.0.1:8000/class_create/"
    }
  </script>
  </body>
</html>
