{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block css_files %} {% endblock %}
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-container">
        <div class="nav-logo" onclick="goToHome()" style="cursor: pointer">
          GrAdesPro
        </div>
        <div class="nav-links">
          <a href="#" class="nav-link" onclick="goToAboutUs()">About Us</a>
          <a href="#" class="nav-link" onclick="goToHome()">Home</a>
        </div>
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
